/*
Main styles
 */

#language-search-wrap .toggle-group {
    position: relative;
    top: -2px;
    margin-right: 5px;
}

#lang-search {
    margin-top: 0.5em;
}

.video .thumbnail img {
    margin-bottom: 0.4em;
}

.video-list .languages li {
    float: left;
    margin: 0 0.4em 0.4em 0;
}