<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Translate</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="library/css/token-input.css">
  <link rel="stylesheet" href="library/css/token-input-facebook.css">
  <link rel="stylesheet" href="library/css/styles.css">

  <script src="library/js/libs/modernizr.js"></script>
  <script src="library/js/require.js" data-main="library/js/core"></script>
  
</head>
<body>

	<div id="language-search-wrap" data-all-langs="{{app.url_generator.generate("langall")}}">
		<h2>Search Languages</h2>
    <div id="filter-negate" class="radio-group">
      <input id="radio-with" type="radio" name="filterNegate" checked="checked" data-val="with"/><label>with</label>
      <input id="radio-without" type="radio" name="filterNegate" data-val="without"/><label>without</label>
    </div>

    <div id="filter-select" class="radio-group">
      <input id="radio-any" type="radio" name="filterType" checked="checked" data-val="any"/><label>any</label>
      <input id="radio-every" type="radio" name="filterType" data-val="every"/><label>every</label>
    </div>
		
		<label>of the following</label>
		<input type="text" id="lang-search" name="lang-search" data-autocomplete-url="{{app.url_generator.generate("langmeta")}}"/>
	</div>
  
  {{body | raw}}

</body>
</html>