{% extends 'views/page-video-search.twig' %}

{% block header %}
<div class="mp-header well">
	<div class="inner">
		<div class="mp-header-left">
		  <h1>Minute Physics Translate</h1>
		  <div class="mp-collider">
		  	<img src="{{root}}/user/img/bg-collider.png" alt="Minute Physics Collider" />
	  	</div>
	  </div>
	  <p class="translate-text">
	  	Translate अनुवाद करना traducir 翻譯 přeložit oversætte vertalen tõlkima kääntää traduire übersetzen μεταφράζω  અનુવાદ לתרגם þýða menterjemahkan tradurre 翻訳する 번역 vertendumque tulkot ترجمه کردن tłumaczyć traduce переводить kutafsiri மொழிபெயர் భాషాంతరీకరించు  ترجمہ cyfieithu
	  </p>
	</div>
</div>
{% endblock %}
