<span style="color: #888;">
	this is a 
	<a href="http://wellcaffeinated.net" target="_blank" style="font-family: 'Alice', sans-serif; color: #AE3737;">
	Well Caffeinated</a>
	and
	<a href="http://minutephysics.com" target="_blank" style="color: #000;">
	Minute Physics</a>
	project
</span>
