<div class="row-fluid">
	<div class="col12 clearfix">
		<div class="pull-right">
		{% include 'credit.twig' %}
		</div>
		<p>To get your own translation page, visit <a href="http://wellcaffeinated.net/projects/youtube-subtitle-explorer" target="_blank">YouTube Subtitle Explorer</a></p>
	</div>
</div>
