{% extends 'page-skeleton.twig' %}

{% block title %}Error{% endblock %}
{% block description %}error page{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="col6 alert alert-error">
    <h1>Error</h1>
    <p>
      {{msg}}
      <a class="btn" href="{{ok_action | default(app.url_generator.generate("search_page"))}}">Ok</a>
    </p>
  </div>
</div>
{% endblock %}