{% extends 'page-skeleton.twig' %}

{% block title %}Installation{% endblock %}
{% block description %}{% endblock %}
  
{% block content %}
<div class="row-fluid">
  <div class="col12">
    <h1 class="page-header">Installation Step 2: Configuration</h1>
    <form action="{{app.url_generator.generate('install_config')}}" method="POST" class="form-horizontal">

      <input type="hidden" name="continue" value="true"/>

      <div class="control-group">
        <label class="control-label" for="playlist">Select which playlist you want to translate for:</label>
        <div class="controls">
          <select id="playlist" name="playlist">
            {% for pl in playlists %}
            <option value="{{pl.id}}">{{pl.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="defaultlang">Enter the default language code you want to use:</label>
        <div class="controls">
          <input type="text" id="defaultlang" name="default_lang" value="en"/>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Continue</button>
        </div>
      </div>

    </form>
  </div>
</div>
{% endblock %}