{% extends 'page-skeleton.twig' %}

{% block title %}Please Login{% endblock %}
{% block description %}{% endblock %}
  
{% block content %}
<div class="row-fluid">
  <div class="col6 hero-unit">
    {% if loggedIn %}
      <p>You are already logged in as: {{username}}</p>
      <a class="btn btn-danger" href="{{app.url_generator.generate("logout", { redirect: 'login' })}}">Log Out</a>
    {% else %}
      <p>You need Google authentication to access this area. Please Sign In.</p>
      <a class="btn btn-primary" href="{{app.url_generator.generate("authenticate")}}">Login with Google</a>
      <a class="btn" href="{{app.url_generator.generate("search_page")}}">Cancel</a>
    {% endif %}
  </div>
</div>
{% endblock %}
