{% extends 'page-skeleton.twig' %}

{% block title %}Success{% endblock %}
{% block description %}{% endblock %}
  
{% block content %}
<div class="row-fluid">
  <div class="col6 alert alert-success">
    <h1>Success</h1>
    <p>
      {{msg | default('Action Successful')}}
      <a class="btn" href="{{ok_action | default(app.url_generator.generate("search_page"))}}">Ok</a>
    </p>
  </div>
</div>
{% endblock %}