{% extends 'page-skeleton.twig' %}

{% block title %}Settings{% endblock %}
{% block description %}User settings page{% endblock %}

{% set containerClasses = 'settings' %}

{% block content %}
<h1 class="page-header">Settings for {{app.oauth.getUserName}} {% include 'right-nav.twig' %}</h1>

<div class="row-fluid">
  <div class="span12">

    <h3>Email notifications</h3>

    <form action="{{app.url_generator.generate('user_profile_settings')}}" method="POST" class="form-horizontal">

    	<div class="control-group">
        <label class="control-label" for="email-notify-setting">Email Notifications for Submissions</label>
        <div class="controls">
          <input type="checkbox" id="email-notify-setting" name="notifications"/>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Continue</button>
        </div>
      </div>

    </form>
	</div>
</div>

{% endblock %}
