{% extends 'page-skeleton.twig' %}

{% block title %}Search translations{% endblock %}
{% block description %}Search for caption translations in videos from {{playlist.title}}{% endblock %}
  
{% block content %}
<div id="language-search-wrap" class="well" data-all-langs="{{app.url_generator.generate("langall")}}">
	<h2>Translations for {{playlist.title}}</h2>

  <div>

    <span>Search for videos that </span>

    <span class="btn-group toggle-group" id="negate-ctrl">
      <button class="btn btn-small active" type="button" data-val="with">do</button>
      <button class="btn btn-small" type="button" data-val="without">don't</button>
    </span>
    
    <span>have translations for</span>

    <span class="btn-group toggle-group" id="scope-ctrl">
      <button class="btn btn-small active" type="button" data-val="any">some</button>
      <button class="btn btn-small" type="button" data-val="every">all</button>
    </span>

    <span>of the following languages:</span>
  </div>
	
  <div id="lang-search">
	  <input type="text" name="lang-search" data-autocomplete-url="{{app.url_generator.generate("langmeta")}}"/>
  </div>

  <p style="text-align: right; margin: 1em 0 0; font-size: 12px;">
    {% include 'credit.twig' %}
  </p>
</div>

{% include 'videolist.twig' %}
    
{% endblock %}